.line {
    margin: 2em;
    padding: 1em;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.class-1 {
    border-style: solid;
    border-width: 5px 20px;
    /* 5px top and bottom, 20px on the sides */
    border-color: red green blue yellow;
    /* red top, green right, blue bottom and yellow left */
}

.class-2 {
    border-bottom: 1px solid red
}

.class-3 {
    border: 1px solid gray;
    border-radius: 10px;
}

.class-4 {
    background-color: skyblue;
    border-left: 5px solid blue;
}

.class-5 {
    border: 2px gold;
    border-style: dashed;
}

.class-6 {
    border-width: 10px 10px;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dashed;
    border-left-style: double;
}

.class-7 {
    border: 5px solid red;
}