* {
    box-sizing: border-box;
}

body {
    height: 4000px;
}

.img1 {
    float: right;
}

.p1 {
    margin: 30px;
}

.h2 {
    margin-top: 100px;
}

.div1 {
    float: left;
    padding: 15px;
    background-color: red;
}

.div2 {
    float: left;
    padding: 15px;
    background: gold;
}

.div3 {
    float: left;
    padding: 15px;
    background: green;
}

.container1 {
    position: relative;
    top: 100px;
}

.div4 {
    float: left;
    padding: 10px;
    border: 3px solid #73AD21;
}

.div5 {
    padding: 10px;
    border: 3px solid red;
}

.div6 {
    float: left;
    padding: 10px;
    border: 3px solid #73AD21;
}

.div7 {
    padding: 10px;
    border: 3px solid red;
    clear: left;
}

.container2 {
    position: relative;
    top: 200px;
}

.img1 {
    float: right;
}

.without-clearfix {
    border: 3px solid green;
    padding: 3px;
}

.img2 {
    float: right;
}

.clearfix2 {
    border: 3px solid green;
    padding: 3px;
    overflow: auto;
}

.clearfix2::after {
    content: "";
    clear: both;
    display: table;
}

.container3 {
    position: relative;
    top: 200px;
    margin: auto 20px;
}

.box3 {
    width: 33.33%;
    float: left;
    padding: 50px;
    text-align: center;
}

.clearfix3::after {
    content: "";
    clear: both;
    display: table;
}

.container4 {
    position: relative;
    top: 250px;
}

.img-container4 {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.clearfix4::after {
    content: "";
    clear: both;
    display: table;
}

.container5 {
    position: relative;
    top: 250px;
}

.flex-container5 {
    display: flex;
    flex-wrap: nowrap;
    background-color: dodgerblue;
}

.box5 {
    background-color: #f1f1f1;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.container6 {
    position: relative;
    top: 300px;
}

.p6 {
    margin-bottom: 30px;
}

.ul6 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.ul6 li {
    float: left;
}

.ul6 li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.ul6 li a:hover {
    background-color: #111;
}

.active {
    background-color: red;
}

.container7 {
    position: relative;
    top: 350px;
}

.header7, .footer7 {
    background: grey;
    color: white;
    padding: 15px;
    margin-top: 30px;
}

.column7 {
    float: left;
    padding: 15px;
}

.clearfix7::after {
    content: "";
    clear: both;
    display: table;
}

.menu7 {
    width: 25%;
}

.content7 {
    width: 75%;
}

.menu7 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu7 li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #33b5e5;
    color: #ffffff;
}

.menu7 li:hover {
    background-color: #0099cc;
}