* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* padding: 0; */
    /* height: 3000px;?S */
}

/*/////////////////////////////
        HERO SECTION 
/////////////////////////////*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f3eed9;
    min-height: 660px;
    /* padding: 15em 5em; */
    /* border: 2px solid red; */
}

.hero__container {
    text-align: center;
    width: 35%;
    min-width: 500px;
    padding: 0;
    margin: 0 auto;
    /* border: 2px solid blue; */
}

.over-title {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 6px;
    /* margin: 0; */
    /* border: 2px solid orange; */
}

.hero-title {
    font-family: "Playfair Display", serif;
    font-size: 60px;
    font-weight: 900;
    font-style: normal;
    color: #824936;
    margin: 20px 0 0 0;
    line-height: 50px;
    /* border: 2px solid green; */
}

.container {
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
    /* border: 2px solid green; */
}

.row {
    display: flex;
    justify-content: space-between;
}

/*/////////////////////////////
        SECTION 1
/////////////////////////////*/
.section-1__title {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    color: #824936;
    text-align: center;
}

.section-1 {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* margin: 0 auto; */
    /* border: 2px solid green; */
    /* padding: 0 10em 10em 10em; */
    gap: 30px;
    min-height: 300px;
}

.section-1 p {
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    /* border: 2px solid orange; */
}

.section-1__col-left {
    width: 50%;
}

.section-1__col-right {
    width: 50%;
}

/*/////////////////////////////
        SECTION 2
/////////////////////////////*/
.section-2 {
    background-color: #222C2A;
    color: white;
    min-height: 400px;
    align-items: center;
    /* width: 80%; */
    /* max-width: 1100px; */
    /* margin: 0 auto; */
    /* border: 2px solid red; */
}

.section-2__col-left {
    width: 50%;
}

.section-2__img {
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    width: 50%;
    /* border: 2px solid rgb(71, 243, 14); */
}

.section-2__img img {
    max-width: 90%;
}

/*/////////////////////////////
        SECTION 3
/////////////////////////////*/
.section-3 {
    background-color: #824936;
    color: white;
    min-height: 400px;
    align-items: center;
}

.section-3__img {
    display: flex;
    box-sizing: border-box;
    width: 50%;
    /* border: 2px solid green; */
    /* border: 2px solid rgb(71, 243, 14); */
}

.section-3__img img {
    max-width: 90%;
}

.section-3__col-right {
    width: 50%;
    /* border: 2px solid rgb(14, 243, 243); */
}