.ex1 {
    background: lightgrey;
    width: 300px;
    border: 15px solid darkgreen;
    padding: 50px;
    margin: 20vh auto;
}

.container {
    width: 500px;
    height: 500px;
    margin: 30vh auto;
    border: 15px solid darkcyan;
}

img {
    width: 100%;
    object-fit: fill;
}