/*
When using the shorthand property the order of the property values is: 

background-color 
background-image 
background-repeat 
background-attachment 
background-position 

It does not matter if one of the property values is missing, 
as long as the other ones are in this order. Note that we 
do not use the background-attachment property in the examples 
above, as it does not have a value.
*/
.scroll {
    background: skyblue;
    height: 2000px;
    margin: 0px;
}

.para {
    background: url('./img_tree.png') no-repeat center fixed;
    min-height: 500px
}