* {
    margin: 1em;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

li {
    display: inline;
    margin-right: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #fff;
    background-color: green;
}

span {
    display: block;
}

.a {
    display: block;
}