body {
    height: 2000px;
    margin: 50px;
}

div {
    border: 1px solid grey;
    padding: 8px
}

.h1a {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}

.ex1 {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: #008CBA;
}

.h1 {
    text-align: center;
}

.h2 {
    text-align: left;
}

.h3 {
    text-align: right;
}

.ex2 {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: justify;
}

.a {
    text-align: right;
}

.b {
    text-align-last: center;
}

.c {
    text-align-last: justify;
}

.ex3 {
    direction: rtl;
    unicode-bidi: bidi-override;
}

img.a {
    vertical-align: baseline;
}

img.b {
    vertical-align: text-top;
}

img.c {
    vertical-align: text-bottom;
}

img.d {
    vertical-align: sub;
}

img.e {
    vertical-align: super;
}

.ol {
    text-decoration: overline red;
}

.lt {
    text-decoration: line-through red;
}

.ul {
    text-decoration: underline red;
}

.ex {
    text-decoration: 3px overline underline red;
}